header.menuheader {
    height: 60px;
    background-color: darkslategray;
    color: white;
    font-family: Arial;
}


.phonenum {
    display: contents;
}

.barpadding {
    padding-right: 50px;
    padding-left: 50px;
}

.barpaddingtwo {
    padding-left: 50px;
   
}

#test {
    padding: 10px;
}


.bg-special {
    background-color: 221000!important;
}

.underlineHover:hover {
    text-decoration: underline;
}

.font-navbar {
    font-family: 'Kodchasan', sans-serif;    
}

.container-menu {
    display: flex;
}

global.footer {
    background-color: 221000;
    color: white;
}

.navbarForced {
    text-align: right!important;
}