header {
    background-color: black;
    color: wheat;
    font-size: 50px;
    text-align: center;
    height: 100px;
    padding-top: 50px;
}

main img {
    max-height: 1000px;
    max-width: 1000px;
}

header .mainheader {
    height: 200px;
    background-color: purple; 
}