header.menuheader {
    height: 50px;
    background-color: darkslategray;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    padding-top: 20px;
}


.phonenum {
    display: contents;
    
}

.barpadding {
    padding-right: 50px;
    padding-left: 50px;
}

#test {
    padding: 10px;
}