header {

}

.collapsible {
    background-color: #eee;
    color: #444;
    padding: 20px;
    width: 100%;
    border: 5px;
    text-align: center;
    outline: none;
    font-size: 10px;
}

#navbar {

}

#socialbar {

}

.scrollcenter {

}

.logo {

}

.menu {

}

.reservation {

}